*.ttf
*.png
*.woff
*.woff2
*.txt
*.svg
*.ico
*.eot
*.snap
.gitkeep
.gitignore
.browserslistrc
Jenkinsfile
.editorconfig
*.xml
coverage/
dist/
.idea/
node_modules/
reports/
.prettierignore
.npmrc
.nvmrc
Makefile
.DS_store
.eslintignore
.github/