@use "../../styles/shared" as *;

.search-page {
  @include flex($flex-direction: column, $justify-content: flex-start);
  height: 100%;

  &__img {
    position: sticky;
    width: 60vw;
    margin-top: 15px;
    margin-bottom: 15vh;
  }
}
