@use '../../styles/shared' as *;

.country-page {
  display: contents;
  position: relative;

  &__wrapper {
    margin-top: 126px;
  }

  &__footer-wrapper {
    @include flex();
    position: sticky;
    bottom: 0;

    background-color: #292929;
    width: 60%;
  }

  &__footer-btn {
    @include flex();

    min-height: 35px;
    margin: 12px 0;
    font-family: MenyakaBold, serif;
    width: 40%;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    background-color: #2d4f30;
    cursor: pointer;

    &:hover {
      background-color: #76913a;
    }
  }
}