@use '../../styles/shared' as *;

.country-page {
  display: contents;
  position: relative;

  &__title{
    @include flex();

    background-color: #fcb44f;
    color: #935600;
    min-height: 35px;

    font-family: MenyakaBold, serif;
    font-size: 25px;
    margin: 12px 0;
  }

  &__title-wrapper{
    background-color: #292929;
    position: fixed;
    margin-top: 66px;
    width: 60%;
  }
}